/* ContactForm.css */
.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.contact-form-container h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form-container label {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    color: #333;
    resize: vertical;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
    border-color: #f5a623;
    outline: none;
}

.contact-form-container button {
    background-color: #f5a623;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.contact-form-container button:hover {
    background-color: #d78f19;
}

/* Responsywność */
@media (max-width: 768px) {
    .contact-form-container {
        width: 80%;
        margin: 0 auto;
    }
}
