/* App.css */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex: 1;
  padding-top: 136px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .main-content {
    padding: 10px;
    margin-top: 120px;
  }
}
